.Footer {
	padding-top: 10px;
	background-color: rgba(255, 31, 102, 255);
	height: 50px;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	z-index: 999999;
}

p {
	padding-top: px;
}



.socialIcon {
	width: 30px;
	height: 30px;
}