.navbar {
    height: 10%;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
    background-color: rgb(218, 218, 218);
}

img {
    margin-left: 20px;
}

.buttons {
    background-color: transparent;
    position: absolute;
    padding-right: 20px;
    right: 0px;
}

button {
    background-color: transparent;
    border: none;
    font-weight: 1000;
}