.poolBody {
	width: 92%;
	height: 425px;
	background-color: white;
	position: absolute;
	margin-top: 30px;
	border-radius: 10px;
	padding: 10px;
}

.buttonTray{
	width: 100%;
	display: flex;
	justify-content: space-around;
}


.voteButton{
	width: 25%;
	height: 10%;
	background-color: rgba(4, 57, 94, 255);
	font-size: medium;
	border-radius: 12px;
	font-weight: 500;
	color: white;
}

@media only screen and (min-width: 950px) {
	.poolBody {
		width: 40%;
	}
}