.choiceNum {
	width: 100%;
	height: 30px;
	border-radius: 10px;
	border: none;
	color: rgba(4, 57, 94, 255);
	margin-top: 20px;
}

.form-container {
	top:10%;
}

@media (max-width: 600px) {
	.form-container {
		background-color: rgba(4, 57, 94, 255);
		width: 100%;
		height: 100%;
		left: 0%;
		right: 0%;
		top: 0%;
		border-radius: 0;
	}

	.form-body {
		top: 10px
	}
}